body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

p{
    font-family: 'Open Sans', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:75vw;
}
.panel{
    background-size:auto 100%; 
    height:90vh;
    background-repeat: no-repeat;
    margin-left:10px;
    position:relative;
    cursor: pointer;
    flex:0.55;
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom:20px;
    font-weight: bold;
    left:20px;
    opacity: 0;
    margin: 0;
}
.panel.active{
    flex:1;
}
.panel.active h3{
    opacity:1;
}
@media(max-width:900px){
    .container{
        width:95vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(3),
    .panel:nth-of-type(5),
    .panel:nth-of-type(2){
        display: none;
    }
}
.border{
    border:1px solid  black;
   
}
.aboutHolder{
    width:85vw;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 7vmin;
    
  
}
@media(max-width:900px){


.abtCaption{
    width: 90vw;
    box-shadow: 7px 10px 5px 3px;
}

}

.border1{
    border:1px solid black;
    box-shadow: 7px 10px 5px 3px;
}
.imgHolderabt{
    width:50vmin;
    height:50vmin;
    border:3px solid rgb(43, 120, 220);
    border-radius: 40vmin; 
    background-size: cover;
}
/*CSS For Progress Container*/
.progress-container{
    max-width: 100%;
    width:350px;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;
    justify-content: space-between;
   
}
.progress-container::before{
    content: '';
    background-color: lightgrey;
    z-index: -1;
    width: 100%;
    height: 4px;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
}
.containerProgress{
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: center;
}
.progress{
    position: absolute;
    z-index: -1;
    height: 4px;
    background-color: rgba(64, 121, 195, 0.994);
        width: 0%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.circle{
    background-color: rgb(255, 254, 254);
    height: 30px;
    width: 30px;
    border: 3px solid grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle.active1{
    border-color: rgba(56, 119, 203, 0.994);
}
.btn{
    padding: 2.5vmin;
    background-color: rgb(59, 159, 222);
    color: white;
    border:  rgb(44, 106, 186);
    border-radius: 1vmin;
}

/*--- progress container css end here */

/*--  For Carousel Design for About */
@media(max-width:900px){
    .abtImage{
        width:100vw;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .abtCaption{
         width: 90vw;
         box-shadow: 7px 10px 5px 3px;
     }
    
}
@media(min-width:901px){
    
    .abtImage{
        width:25vw;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .abtCaption{
         width: 55vw;
         margin-left: 17px;
         box-shadow: 7px 10px 5px 3px;
     }
}
.abtCaption{
    display: none;
}
.abtCaption.activeAbout{
    display: block;
}

/*Skills Design*/
.borderDiv{
    width:70%;
    height: 15px;
    border-radius: 2vmin;
    background-color: lightgrey;
}
.red{
    width: 95%;
    border-radius: 2vmin;
    height: 15px;
    background-color: rgb(204, 81, 64);
}
.green{
    width: 90%;
    border-radius: 2vmin;
    height: 15px;
    background-color: rgb(35, 145, 10); 

}

.blue{
    width: 80%;
    border-radius: 2vmin;
    height: 15px;
    background-color: rgb(21, 98, 191);
}
.yellow{
    width: 70%;
    border-radius: 2vmin;
    height: 15px;
    background-color: rgb(215, 167, 11);
}
/*Achievements*/
a{
    color: black;
    text-decoration: none;
}

ol li{
    
    font-size: 3.15vmin;
}
/* Nav Bar Design*/
.partLogo{
    background-color: rgb(19, 123, 192);
    color:white; 
}
.partNav{
    background-color: rgb(19, 123, 192);
    color:white;
}
.partNavLaptop{
    
    width:100%;display: flex; justify-content: space-evenly; align-items: center;
}
@media(max-width:900px){
.partNavLaptop{
    display: none;
}

}
.partNavMobile{
width: 100%;display: flex;justify-content: flex-end;}
@media(min-width:901px){
.partNavMobile{
    display: none;
}
.navLinksMobile{
    display: none;
}


}

.navLinksMobile{
width:100vw;
background-color: rgb(19, 123, 192);
color:white;
padding-bottom: 10px;
display: none;

}
.nav1{

padding:10px;
border:1px solid white;

} 
.sec{
margin-top: 10px;
}   
@media(max-width:900px){
    .bannerImage{
        margin-top: 10vmin;height:40vh; width:70vmin;border: 10px solid rgb(59, 159, 222);border-radius: 35vmin;
    }
    .bannerText{
        font-weight: bolder;  font-size: 8vmin;
    }
    .box2{
        width:100vmin;
    }
    .box1{
        height:45vh;
    }
    .btn1{
        margin-left: 13vmin;
    }
    .btn2{
        margin-left: 5vmin;
    }
    }
    @media(min-width:900px){
    .bannerImage{
        margin-top: 10vmin;height:55vh; width:55vmin;border: 7px solid rgb(59, 159, 222);border-radius: 35vmin;
    }
    .bannerText{
        font-weight: bolder;  font-size: 7.75vmin;
    }
    .box1{
        width: 60vmin; height: 50vh;
    }
    .box2{
        width:90vmin;height: 80vh;
    }
    .btn1{
        margin-left: 8vmin;
    }
    .btn2{
        margin-left: 5vmin;
    }
    }
    /*Large Screen responsive*/
    @media(min-width:1900px){
        .btn1,.btn2{
            font-size: 3.5vmin;
            padding: 2vmin;
        }
        .projectHolder{
            
            width:100vw;
        }
        .projectIcon{
       
            width: 70vmin;
        }
        .projectDescr{
            
            width: 80vmin;
            margin-left: 5vmin;
            
        }
        .projectDescr p{
            font-size: 3vmin;
        }
 
    }
/*Design ahead*/
.up{
    display: none;
}
#ans1,#ans2,#ans3{
    display: none;
}
.projectTitle{
font-size: 7vmin;
font-weight: bold;
color:rgb(59, 159, 222);
}
@media(max-width:900px){
.projectIcon{
    width:60vmin;
    height:35vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgHolder{
    width:55vmin;
    height:30vmin;
 
}
.projectDescr{
    width:90vmin;
   
}
.TestinomialBox{
height:67vmin;
width:95vw;
border:1px solid white;
border-radius:5vmin;
background-color: rgb(40, 134, 193);
}
.testinomialProgressBar{
    height:4px;
    width:90vw;
    margin-left: 3vmin;
    margin-top: 2vmin;
    animation: grow 10s linear infinite;
    transform-origin: left;
    background-color: white;
}
.imgHolder1{
    width: 20px;
    height: 25px;
}
@keyframes grow {
    0%{
        transform: scaleX(0);
    }
}
#nameTest{
font-size: 3.5vmin;
color:white;
}
#designationTest{
    font-size: 2.5vmin;
    color: white;
}
#testinomialText{
    font-size:3.25vmin ;
} .questionFAQ{
    height: 20vmin; width: 97vw; 
}
.FAQquest1{
    font-size: 2vmin;
}
.ansFAQ{
    height: 50vmin; width: 95vw; 
}
}
@media(min-width:901px) and (max-width:1899px) {
.projectIcon{
    width:450px;
    height: 50vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TestinomialBox{
height:50vmin;
width:55vw;
border:1px solid white;
border-radius:5vmin;
background-color: rgb(40, 134, 193);
}
.captProj{
    font-size: 3.5vmin;
}
.imgHolder{
    width:430px;
    height:45vmin;
   
}
#nameTest{
font-size: 3.5vmin;
color:white;
}
#designationTest{
    font-size: 2.5vmin;
    color: white;
}
.projectDescr{
    width:650px;
    height: 50vmin;
    margin-left: 3vmin;
}
.testinomialProgressBar{
    height:4px;
    width:52vw;
    margin-left: 3vmin;
    margin-top: 2vmin;
    background-color: white;
    animation: grow 10s linear infinite;
    transform-origin: left;
} 
.questionFAQ{
    height: 15vmin; width: 65vw; 
}
.ansFAQ{
    height: 25vmin; width: 65vw; 
}
@keyframes grow {
    0%{
        transform: scaleX(0);
    }
}
.imgHolder1{
    width: 30px;
    height: 45px;
}
}
@media(min-width:1900px){
.testinomialProgressBar{
    height:4px;
    width:50vw;
    margin-left: 3vmin;
    margin-top: 2vmin;
    animation: grow 10s linear infinite;
    transform-origin: left;
    background-color: white;
}
@keyframes grow {
    0%{
        transform: scaleX(0);
    }
}
.imgHolder1{
    width: 60px;
    height: 65px;
}
#nameTest{
font-size: 3.5vmin;
color:white;
}
#designationTest{
    font-size: 2.5vmin;
    color: white;
}
.TestinomialBox{
height:55vmin;
width:55vw;
border:1px solid white;
border-radius:5vmin;
background-color: rgb(40, 134, 193);
}
#testinomialText{
    font-size:3vmin ;
}
.questionFAQ{
    height: 15vmin; width: 65vw; 
}
.FAQquest1{
    font-size: 2vmin;
}
.ansFAQ{
    height: 27vmin; width: 65vw; 
}
.ans{
    font-size: 3vmin;
}
}
